  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .buttonDisplay{
    display: inline-flex;
    background-color: #111111;
    width: 100%;
    justify-content: center;
  }

  .file_chooser{
    display: none;
  }
  
  .file_chooser_label{
    cursor: pointer;
  }

  #myButton {
    background-color: #666666;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 5%;
  }

  #myButton:hover {
    background-color: #555555;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

  #myButton:active {
    background-color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
