<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Graph Viewer</title>
</head>

<body>
  <button id='myButton'>Generar gŕafica</button>
  <input type="file" name="file_chooser" id="file_chooser">
  <iframe id="graphIframe" width="70%" frameborder="0"></iframe>
  
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
